body{
    -webkit-font-smoothing: antialiased;
    color: #34495e;
    font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    font-size: 15px;
    letter-spacing: 0;
    overflow-x: hidden;
}
body,html{
    height: 100%;
}
body.docs{
    padding-top: 60px
}
.app-nav.no-badge.pc{
    width:100%;
    z-index: 100;
    top: 0;
    position: fixed;
}
.app-nav.no-badge{
    padding: 14px 0;
}
.app-nav.no-badge{
    text-align: right;
}
.app-nav.no-badge{
    border-bottom: 1px solid rgb(190, 190, 190);
    background: #fff;
    height: 30px;
    /* box-sizing: content-box; */
    margin: 0;
    position: relative;
} 
.logo{
    position: absolute;
    display: flex;
    left: 26px;
    top: 10px;
    flex-direction: row;
    align-items: center;
    width: 232px;
    justify-content: space-between; 
}
.css-logo a{
    color:inherit;
    font-size: 16px;
    text-decoration: none;
    transition: color .3s;
}
.css-logo{
    width: 100px;
    height: 39px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 39px 39px;
    background-image: url('../img/limei.jpg') 
}
#mobile-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #fff;
    z-index: 9;
    display: none;
    box-shadow: 0 0 2px rgba(0,0,0,0.25)
}
#mobile-bar .menu-button{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8px;
    left: 12px;
    background: url('../img/menu.png') center center no-repeat;
    background-size: 24px;
}
/* .app-nav a.active{
    border-bottom: 2px solid var(--theme-color, #d4ee42)
} */
/* .app-nav a.active{
    color: var(--theme-color, #d4ee42)
} */
.app-nav a{
    color: inherit;
    font-size: 24px;
    text-decoration: none;
    transition: color .3s;
}
.logo::after{
    width: 1px; 
    height: 32px;
    content: "";
    background-color: #d9d9d9d9;
    position: absolute;
    top:5px;
    left: 120px;
}
div.github{
    display: inline-block;
    padding-right: 10px;
}

#main{
    z-index: 1;
    padding: 0 60px 30px;
    overflow-x: hidden;
    position: relative;

}
#main.fix-sidebar{
    position: static;
}
#main.fix-sidebar .sidebar{
    position: fixed;
}
.sidebar {
    position: absolute;
    z-index: 10;
    top: 60px;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}
.sidebar .sidebar-inner{
    width: 260px;
    padding: 70px 0 60px 20px;
}
.sidebar .main-menu{
    margin-bottom: 20px;
    display: none;
    padding-left: 0;
}
.sidebar ul{
    list-style-type: none;
    margin: 0;
    line-height: 1.5em;
    padding-left: 1em;
}
#sidebar-sponsors-special{
    margin-top: -10px;
}
.main-sponsor{
    color: #4f5959;
}
.sidebar .menu-root{
    padding-left: 0;
}
.sidebar li{
    margin-top: 0.5em;
}
a{
    text-decoration: none;
    color: #304455;
}
.content{
    position: relative;
    padding: 2.2em 0;
    max-width: 700px;
    margin: 0 auto;
    padding-left: 50px; 
}
#ad{
    width: 125px;
    position: fixed;
    z-index: 99px;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 3px;
    font-size: 13px;
}
#ad span{
    color: #4f5959;
    display: block;
}
#ad a{
    display: inline-block;
    color: #4f5959;
    font-weight: normal;
}
#ad img{
    width: 125px;
    max-width: 100%;
}
img{
    border: none;
}
.content h1{
    margin:  0 0 1em;
}
.mobile-logo{
    position: absolute;
    top: 5px;
    left: 50%;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    background-size: 30px;
    /* background: url('../img/limei.jpg') center center no-repeat; */
}
* {
	margin:0;
	padding:0
}
.angle {
	transform-style:preserve-3d;
	width:30px;
	height:30px;
	position:relative;
	list-style:none;
	animation-name:xz;
	animation-duration:10s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}
.angle:hover {
	animation-play-state:paused;
}
.angle li {
	position:absolute;
	left:0;
	top:0;
	width:30px;
	height:30px;
	background:#ccc;
	opacity:.7;
}
.angle li:hover {
	opacity:.3;
}
img {
	width:100%;
	height:100%;
}
.top {
	transform:rotateX(90deg) translateZ(15px);
}
.bottom {
	transform:rotateX(90deg) translateZ(-15px);
}
.left {
	transform:rotateY(90deg) translateZ(15px);
}
.right {
	transform:rotateY(90deg) translateZ(-15px);
}
.front {
	transform:translateZ(15px);
}
.back {
	transform:translateZ(-15px);
}
@keyframes xz {
	0% {
        transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
        transform:rotateX(360deg) rotateY(720deg) rotateZ(1080deg);
    }
}

.gitbub-logo{
    position: absolute;
    top: 5px;
    right:10px;
    width: 30px;
    height: 30px;
}
.gitbub-logo img{
    width: 28px;
    height: 28px;
}
.ad-pagetop{
    background: #f8f8f8;
    padding: 8px 16px;
    border-radius: 4px;
    /* color: #304455; */
    clear: both;
    position: relative;
}
.ad-pagetop:after{
    content: "广告";
    font-size: 10px;
    position: absolute;
    top: 50%;
    padding: 3px 6px;
    color: #aaa;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: -9px;
    right: 10px;
}
.ad-pagetop span{
    color: #1c90f3;
    display: inline-block;
}
.ad-pagetop span.name{
    color: #1c90f3;
    font-size: 1.1em;
}
.ad-pagetop span.description {
    margin-left: 0.8em;
    font-size: 0.9em;
    color: #666;
    font-weight: normal;
}
.ad-pagetop span.action {
    font-size: 0.75em;
    color: #888;
    border: 1px solid #888;
    border-radius: 3px;
    padding: 2px 6px;
    margin-left: 1em;
}
span.action:hover{
    color: #1c90f3;
}
.content h2{
    margin: 45px 0 0.8em;
    padding-bottom: 0.7em;
    border-bottom: 1px solid #ddd;
}
.content h2, .content h3{
    font-weight: 600;
    color: #273849;
    pointer-events: none;
}
.content h2 a, .content h3 a, .content h2 button, .content h3 button {
    pointer-events: auto;
    color: #273849;
}
.content a {
    color: #42b983;
    font-weight: 600;
}
.content p, .content ul, .content ol {
    line-height: 1.6em;
    margin: 1.2em 0 -1.2em;
    padding-bottom: 1.2em;
    position: relative;
    z-index: 1;
}
p {
    word-spacing: 0.05em;
}
code{
    color: #d63200;
    padding: 3px 5px;
    margin: 0 2px;
    border-radius: 2px;
    white-space: nowrap;
}
code, pre {
    font-family: "Roboto Mono", Monaco, courier, monospace;
    font-size: 0.85em;
    background-color: #f8f8f8;
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: initial;
}
.content h3{
    margin: 52px 0 1.2em;
    line-height: 1.2;
    position: relative;
}
.content h2:before, .content h3:before {
    content: "";
    display: block;
    margin-top: -91px;
    height: 91px;
    visibility: hidden;
}
.content h3 > a:before {
    content: "#";
    color: #42b983;
    position: absolute;
    left: -0.7em;
    margin-top: -0.05em;
    padding-right: 0.5em;
    font-size: 1.2em;
    line-height: 1;
    font-weight: bold;
}
.notes{
    color: #d63200;
}
.datatable p{
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
    margin: 1.2em 0 0 0;
}
.datatable{
    border-bottom: 1px solid #aaa;
    margin: 0 0 25px 0 ;
    padding-bottom: 25px;
}
table.dataintable{
    border-collapse: collapse;
    border: 1px solid #aaa;
    width: 100%;
}
table.dataintable tr:nth-child(odd) {
    background-color: #F5F5F5;
}
table.dataintable th {
    vertical-align: baseline;
    padding: 10px;
    background-color: #3F3F3F;
    border: #3F3F3F;
    text-align: left;
    color: #fff;
}
table.dataintable tr:nth-child(even) {
    background: #fff;
}
table.dataintable td{
    vertical-align: text-top;
    padding:  9px;
    border: 1px solid #aaa;
}
.sidebar .section-link.active {
    font-weight: bold;
    color: #42b983;
}
a {
    text-decoration: none;
    color: #304455;
}